<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
          <li><a class="page-link" href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a></li>
          <li><a class="page-link" href="{{ '/terms-of-use/' | relative_url }}">Terms of Use</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
    <div style="text-align: center;">
      &copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.
    </div>
  </div>
</footer>